include LICENSE
include README.md
include pyproject.toml
recursive-include zeroproof_simulations *.py
recursive-include zeroproof *.py
include zeroproof/py.typed
prune zeroproof_simulations/_experimental
prune zeroproof_simulations/behaviors
prune tests
prune examples
prune specs
prune docs
global-exclude *.ipynb *.py[cod] .DS_Store
